doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/customer_profile.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway&display=swap', rel='stylesheet')
    script(src='/javascripts/jquery.js', type='module' defer)
    script(src='/javascripts/app.js', type='module' defer)
    title Check In System
  body
    block content
