doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/customer_profile.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway&display=swap', rel='stylesheet')
    script(src='/javascripts/jquery.js', type='module' defer)
    script(src='/javascripts/app.js', type='module' defer)
    title Personal Info
  body 
    h1 Personal Info: #{customer.customerInfo.firstName} #{customer.customerInfo.lastName}
    a(href='/')
        button.returnButton Return to Search Screen
