* {
  text-decoration: none;
  transition: .15s ease-in;
}

html, body {
  overflow: hidden;
}

#errorMessage {
  display: none;
  color: white;
  background-color: red;
  opacity: 70%;
  font-size: 1.2em;
  text-align: center;
  width: 50%;
  border-radius: 6px;
  margin: .5em auto;
  padding: .5em;
}

#torso {
  margin: 40px 24px 6px 24px;
  display: flex;
}

#checkinSide {
  flex: 5;
  border-right: 1px solid black;
  padding: 0px 12px;
}

#checkinSide h2 {
  margin: 12px auto;
  text-align: center;
}

#searchForm {
  display: flex;
  justify-content: space-around;
  margin: 16px 8px;
}

#searchForm input {
  margin: auto 4px;
  flex: 2;
  font-size: 16px;
  line-height: 2;
}

#searchForm input:focus {
  outline: var(--lead-color-hover);
}

#searchForm button {
  flex: 1;
  font-size: 16px;
  transition: .15s;
}

#searchForm button:hover {
  color: white;
  background-color: var(--lead-color-hover);
}

button[name=onlineWaivers] {
  margin: 30px auto;
  display: block;
  font-size: 16px;
  line-height: 3;
  width: 40%;
  transition: .15s;
}

button[name=onlineWaivers]:hover {
  color: white;
  background-color: var(--lead-color-hover);
}

button[name=purchaseButton] {
  margin: 30px auto;
  display: block;
  font-size: 16px;
  line-height: 3;
  width: 60%;
  transition: .15s;
}   

button[name=purchaseButton]:hover {
  color: white;
  background-color: var(--lead-color-hover);
}

#customerSide {
  flex: 3;
  margin: auto;
  padding: 0px 12px;
}

#customerSide * {
  text-decoration: none;
}

#recCustDiv {
  margin: 0px;
  padding-right: 10px;
  display: block;
  overflow-y: scroll;
  height: 450px;
  border-radius: 6px;
}

#recCustDiv::-webkit-scrollbar {
  width: 6px;
}

#recCustDiv::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

#recCustDiv::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

#recCustDiv::-webkit-scrollbar-track-piece {
  background-color: #eee;
}

#recCustTitle {
  margin: 12px auto;
  text-decoration: underline;
}

/***** search *****/

#search {
  width: 100%;
  height: 100%;
}

#search h1 {
  margin: 12px auto;
  display: block;
  text-align: center;
}

#searchResults {
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
}

#searchResults a {
  width: 400px;
  margin: 12px;
}

.returnButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  text-align: center;
  border-radius: none;
}

/***** Waiver *****/

#waiverContainer {
  width: 60%;
  height: 100%;
  display: block;
  margin: 48px auto;
}

#waiverContainer h1 {
  text-align: center;
}

#waiverContainer h1, #waiverContainer p {
  color: black;
}

#waiverStart {
  margin: 32px auto;
  display: block;
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  transition: .15s;
}

#waiverStartLink {
  text-decoration: none;
}

#waiverStart:hover {
  background-color: mediumseagreen;
  text-decoration: none;
  color: white;
}

.waiverDiv {
  background-color: #ccc;
  margin: 24px auto;
  padding: 12px;
}

.flexWaiver {
  display: flex;
}

.flexWaiver p {
  margin: 8px 16px;
  flex: 1;
  display: block;
}

.flexWaiver p input {
  margin: 0 auto;
  padding: 4px;
  display: block;
  line-height: 2;
  font-size: 1.5em;
  border-radius: 6px;
}

.flexWaiver p select {
  text-align: center;
  margin: 4px auto;
  display: block;
  line-height: 2;
  border-radius: 6px;
}

input[name=wStreet] {
  width: 60%;
}

#wGender {
  font-size: 1.5em;
}

#wState {
  font-size: 1.2em;
}

#wCountry {
  font-size: 1em;
}

.flexWaiver p label {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.wDate {
  color: #777;
}

input[name=wEmail1], input[name=wEmail2], input[name=wEmName], input[name=wEmNumber] {
  width: 70%;
}

.terms {
  background-color: white;
  padding: 8px;
  height: 150px;
  border-radius: 6px;
  overflow-y: scroll;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 8px;
}

input[type=submit] {
  bottom: 0;
  width: 100%;
  font-size: 2.5em;
}

/***** Media Queries *****/

@media only screen and (max-width: 991px) {

  html, body {
      overflow: scroll;
  }

  #torso {
      display: block;
  }

  #checkinSide {
      border-right: none;
      margin-top: 48px;
  }

  #searchForm {
      margin: 36px 8px;
  }

  button[name=onlineWaivers] {
      margin: 24px auto;
  }

  #recCustDiv {
      margin: 36px auto;
      display: flex;
      flex-wrap: wrap;
  }

  #img {
      max-width: 150px;
      max-height: 150px;
    }

  #customerSide {
      border-left: none;
  }

}
